<section>
<div class="container-fluid main-content-wrapper">

    <form class="form-horizontal cform-1" #loginForm="ngForm">
        <div class="get-started-form-wrapper">
    
          <div class="group inner-addon left-addon">
            <label class="label-material">UserName</label>            
            <input name="userName" type="text" id="userName" class="form-control input-material" [(ngModel)]="login.userName" #userName="ngModel"
              required/>
            <span class="bar"></span>
          </div>
    
          <div *ngIf="userName.errors && (userName.dirty || userName.touched)">
            <span *ngIf="userName.errors.required" class="danger">Please enter UserName.</span>
            <span *ngIf="userName.errors.pattern" class="danger">Please enter valid UserName.</span>
          </div>

          <div class="group inner-addon left-addon">
            <label class="label-material">emailAddress</label>            
            <input name="emailAddress" type="text" id="emailAddress" class="form-control input-material" [(ngModel)]="login.emailAddress" #emailAddress="ngModel"
              required/>
            <span class="bar"></span>
          </div>
    
          <div *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
            <span *ngIf="emailAddress.errors.required" class="danger">Please enter emailAddress.</span>
            <span *ngIf="emailAddress.errors.pattern" class="danger">Please enter valid emailAddress.</span>
          </div>
    
          <div class="group inner-addon left-addon">
            <label class="label-material">Password</label>            
            <input name="password" type="password" id="password" class="form-control input-material" [(ngModel)]="login.password" #password="ngModel"
              required/>
            <span class="bar"></span>
          </div>
    
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required" class="danger">Please enter password.</span>
            <span *ngIf="password.errors.pattern" class="danger">Please enter valid password.</span>
          </div>

          <div class="group inner-addon left-addon">
            <label class="label-material">Api ID</label>            
            <input name="apiId" type="text" id="apiId" class="form-control input-material" [(ngModel)]="login.apiId" #apiId="ngModel"
              required/>
            <span class="bar"></span>
          </div>
    
          <div *ngIf="apiId.errors && (apiId.dirty || apiId.touched)">
            <span *ngIf="apiId.errors.required" class="danger">Please enter Api ID.</span>
            <span *ngIf="apiId.errors.pattern" class="danger">Please enter valid Api ID.</span>
          </div>
        
          <div>
            <button type="submit" class="btn block button-get-started" (click)="doLogin(login)"> LOGIN </button>
            <div class="privacy-policy">By signing up you agree to our T & C and privacy policy</div>
          </div>
        </div>
      </form>
</div>
</section>